<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>로그인</title>

<!-- Font Icon -->
<link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="/images/signin-image.jpg" alt="sing up image">
							<a href="/" class="signin-image-link">홈으로 돌아가기</a>
						</figure>
					</div>

					<div class="signin-form">
						<h2 class="form-title">로그인</h2>
						<form method="POST" class="register-form" id="login-form">
							<!------------- 아이디 ------------------>
							<div class="form-group">
								<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="username" id="username" placeholder="아이디"/>
							</div>
							<!------------- 비밀번호 ------------------>
							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock"></i></label>
								<input type="password" name="password" id="password" placeholder="비밀번호"/>
							</div>

							<!------------- 아이디 기억하기 ------------------>
<!--							<div class="form-group">-->
<!--								<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />-->
<!--								<label for="remember-me" class="label-agree-term"><span><span></span></span>아이디 기억하기</label>-->
<!--							</div>-->

							<!------------- 로그인 버튼 ------------------>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
							</div>

							<div class="text-center p-t-136">
								<span class="txt2">아직 회원가입을 안하셨나요?</span>
								<a class="txt2" th:href="@{/sign-up}">
									회원가입
									<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
								</a>
							</div>

						</form>
						<div class="social-login">
							<span class="social-label">Or login with</span>
							<ul class="socials">
								<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>


	<!-- JS -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>